.margin {

    &--auto {
        margin: auto;
    }
}

.margin-top {

    &--320 {
        margin-top: 320px;
    }

    &--300 {
        margin-top: 300px;
    }

    &--280 {
        margin-top: 280px;
    }

    &--260 {
        margin-top: 260px;
    }

    &--240 {
        margin-top: 240px;
    }

    &--220 {
        margin-top: 220px;
    }

    &--200 {
        margin-top: 200px;
    }

    &--180 {
        margin-top: 180px;
    }

    &--160 {
        margin-top: 160px;
    }

    &--140 {
        margin-top: 140px;
    }

    &--120 {
        margin-top: 120px;
    }

    &--100 {
        margin-top: 100px;
    }

    &--80 {
        margin-top: 80px;
    }

    &--60 {
        margin-top: 60px;
    }

    &--40 {
        margin-top: 40px;
    }

    &--30 {
        margin-top: 30px;
    }

    &--25 {
        margin-top: 25px;
    }

    &--20 {
        margin-top: 20px;
    }
    
    &--15 {
        margin-top: 15px;
    }

    &--10 {
        margin-top: 10px;
    }

    &--5 {
        margin-top: 5px;
    }
}

.margin-right {

    &--320 {
        margin-right: 320px;
    }

    &--300 {
        margin-right: 300px;
    }

    &--280 {
        margin-right: 280px;
    }

    &--260 {
        margin-right: 260px;
    }

    &--240 {
        margin-right: 240px;
    }

    &--220 {
        margin-right: 220px;
    }

    &--200 {
        margin-right: 200px;
    }

    &--180 {
        margin-right: 180px;
    }

    &--160 {
        margin-right: 160px;
    }

    &--140 {
        margin-right: 140px;
    }

    &--120 {
        margin-right: 120px;
    }

    &--100 {
        margin-right: 100px;
    }

    &--80 {
        margin-right: 80px;
    }

    &--60 {
        margin-right: 60px;
    }

    &--40 {
        margin-right: 40px;
    }

    &--30 {
        margin-right: 30px;
    }

    &--25 {
        margin-right: 25px;
    }

    &--20 {
        margin-right: 20px;
    }
    
    &--15 {
        margin-right: 15px;
    }

    &--10 {
        margin-right: 10px;
    }

    &--5 {
        margin-right: 5px;
    }
}

.margin-bottom {

    &--320 {
        margin-bottom: 320px;
    }

    &--300 {
        margin-bottom: 300px;
    }

    &--280 {
        margin-bottom: 280px;
    }

    &--260 {
        margin-bottom: 260px;
    }

    &--240 {
        margin-bottom: 240px;
    }

    &--220 {
        margin-bottom: 220px;
    }

    &--200 {
        margin-bottom: 200px;
    }

    &--180 {
        margin-bottom: 180px;
    }

    &--160 {
        margin-bottom: 160px;
    }

    &--140 {
        margin-bottom: 140px;
    }

    &--120 {
        margin-bottom: 120px;
    }

    &--100 {
        margin-bottom: 100px;
    }

    &--80 {
        margin-bottom: 80px;
    }

    &--60 {
        margin-bottom: 60px;
    }

    &--40 {
        margin-bottom: 40px;
    }

    &--30 {
        margin-bottom: 30px;
    }

    &--25 {
        margin-bottom: 25px;
    }

    &--20 {
        margin-bottom: 20px;
    }
    
    &--15 {
        margin-bottom: 15px;
    }

    &--10 {
        margin-bottom: 10px;
    }

    &--5 {
        margin-bottom: 5px;
    }
}

.margin-left {

    &--320 {
        margin-left: 320px;
    }

    &--300 {
        margin-left: 300px;
    }

    &--280 {
        margin-left: 280px;
    }

    &--260 {
        margin-left: 260px;
    }

    &--240 {
        margin-left: 240px;
    }

    &--220 {
        margin-left: 220px;
    }

    &--200 {
        margin-left: 200px;
    }

    &--180 {
        margin-left: 180px;
    }

    &--160 {
        margin-left: 160px;
    }

    &--140 {
        margin-left: 140px;
    }

    &--120 {
        margin-left: 120px;
    }

    &--100 {
        margin-left: 100px;
    }

    &--80 {
        margin-left: 80px;
    }

    &--60 {
        margin-left: 60px;
    }

    &--40 {
        margin-left: 40px;
    }

    &--30 {
        margin-left: 30px;
    }

    &--25 {
        margin-left: 25px;
    }

    &--20 {
        margin-left: 20px;
    }
    
    &--15 {
        margin-left: 15px;
    }

    &--10 {
        margin-left: 10px;
    }

    &--5 {
        margin-left: 5px;
    }
}