.posture {

    &--relative {
        position: relative;
    }

    &--absolute {
        position: absolute;
    }

    &--static {
        position: static;
    }
    
    &--sticky {
        position: sticky;
    }

    &--fixed {
        position: fixed;
    }
}

.top {

    &---20 {
        top: -20px;
    }

    &---10 {
        top: -10px;
    }

    &--0 {
        top: 0;
    }

    &--10 {
        top: 10px;
    }

    &--20 {
        top: 20px;
    }
}

.right {

    &---20 {
        right: -20px;
    }

    &---10 {
        right: -10px;
    }

    &--0 {
        right: 0;
    }

    &--10 {
        right: 10px;
    }

    &--20 {
        right: 20px;
    }
}

.bottom {

    &---20 {
        bottom: -20px;
    }

    &---10 {
        bottom: -10px;
    }

    &--0 {
        bottom: 0;
    }

    &--10 {
        bottom: 10px;
    }

    &--20 {
        bottom: 20px;
    }
}

.left {

    &---20 {
        left: -20px;
    }

    &---10 {
        left: -10px;
    }

    &--0 {
        left: 0;
    }

    &--10 {
        left: 10px;
    }

    &--20 {
        left: 20px;
    }
}