.transform {

    &---45deg {
        transform: rotate(-45deg);
    }

    &--45deg {
        transform: rotate(45deg);
    }

    &---1rem {
        transform: translateY(-1rem);
    }
    
    &--1rem {
        transform: translateY(1rem);
    }
}