.transition {

    &--200ms {
        transition: all 200ms;
    }

    &--300ms {
        transition: all 300ms;
    }

    &--400ms {
        transition: all 400ms;
    }

    &--500ms {
        transition: all 500ms;
    }
}