<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
    <title>MyApps -</title>

    <link rel="stylesheet" href="/sass/_app.css">
    <link rel="stylesheet" href="/sass/_rise.css">

    <style>
        .box-shadow--0000000D {
            box-shadow: 0 0 1rem 0 #0000000D;
        }
    </style>

</head>
<body class="_myapps text-spacing---1 text-font--base text-rendering--geometricPrecision overflow--xhidden">
    
    <navigation>
        <div class="background--03A0F3">
            <div class="view--grid grid-template-columns--80rem justify--center">
                <div class="padding-top--25 padding-right--40 padding-left--40">

                    <div class="introduction">
                        <div>
                            <a class="text-weight--500 text-color--FFFFFF" href="/">Community</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </navigation>
    
    {{{body}}}

    <nonce class="pointer-events--none opacity--0 code-over transition--200ms">
        <div class="posture--absolute top--0 right--0 bottom--0 left--0 background--080808"></div>
    </nonce>
      
    <sign class="pointer-events--none posture--absolute top--150 right--0 bottom--0 left--0 opacity--0 code-in transition--200ms">
        <div class="view--grid grid-template-columns--30rem justify--center">
            <div class="padding-right--40 padding-left--40">

                <div class="introduction">
                    <div>
                        <div class="background--FFFFFF padding-top--60 padding-right--40 padding-bottom--35 padding-left--40 border-radius--10">
                            <div class="posture--relative">
                                <div class="posture--absolute top---35 right--0">
                                    <incomplete>
                                        <img width="20" height="20" src="/uploads/minimize-fm7BGfFSZE.svg">
                                    </incomplete>
                                </div>
                                <form name="sign-in" action="/api/sign-in" method="POST" autocomplete="OFF">
                                    <div>
                                        <p class="text-size--22 text-weight--500 text-align--center">Sign in</p>
                                    </div>
                                    <div class="margin-top--25">
                                        <div>
                                            <input class="min-width---100 border--EBEBEB padding-top--10 padding-right--20 padding-bottom--10 padding-left--20 border-radius--50 transition--200ms" type="email" name="email_address" placeholder="Email address">
                                        </div>
                                    </div>
                                    <div class="margin-top--15">
                                        <div>
                                            <input class="min-width---100 border--EBEBEB padding-top--10 padding-right--20 padding-bottom--10 padding-left--20 border-radius--50 transition--200ms" type="password" name="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="margin-top--15">
                                        <div>
                                            <p class="text-size--12 text-align--center">Did you forget your password? <a class="text-color--007EE7" href="/">Send a reminder link</a></p>
                                        </div>
                                    </div>
                                    <div class="margin-top--15">
                                        <div>
                                            <input class="min-width---100 background--007EE7 text-color--FFFFFF text-align--center padding-top--10 padding-right--20 padding-bottom--10 padding-left--20 border-radius--50 oncross--rose" type="submit" value="Continue">
                                        </div>
                                    </div>
                                    <div class="margin-top--25">
                                        <div>
                                            <p class="text-size--14 text-align--center">Or sign in with a different platform</p>
                                        </div>
                                    </div>
                                    <div class="margin-top--25">
                                        <div>
                                            <div class="view--grid grid-gap--1rem">
                                                <div>
                                                    <div class="border--EBEBEB view--grid grid-template-columns--2XY grid-gap---65rem justify--center align--center padding-top--10 padding-bottom--10 border-radius--50 oncross--rose">
                                                        <div>
                                                            <img width="16" height="16" src="/uploads/facebook-pwrUivar7z.svg" alt="Myapps - Sign in via Facebook">
                                                        </div>
                                                        <div>
                                                            <p class="text-size--14 text-weight--500">Continue with Facebook</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="border--EBEBEB view--grid grid-template-columns--2XY grid-gap---65rem justify--center align--center padding-top--10 padding-bottom--10 border-radius--50 oncross--rose">
                                                        <div>
                                                            <img width="16" height="16" src="/uploads/instagram-gFnKvSFh0h.svg" alt="Myapps - Sign in via Facebook">
                                                        </div>
                                                        <div>
                                                            <p class="text-size--14 text-weight--500">Continue with Instagram</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="border--EBEBEB view--grid grid-template-columns--2XY grid-gap---65rem justify--center align--center padding-top--10 padding-bottom--10 border-radius--50 oncross--rose">
                                                        <div>
                                                            <img width="16" height="16" src="/uploads/google-zhWKn28otz.svg" alt="Myapps - Sign in via Facebook">
                                                        </div>
                                                        <div>
                                                            <p class="text-size--14 text-weight--500">Continue with Google</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="border--EBEBEB view--grid grid-template-columns--2XY grid-gap---65rem justify--center align--center padding-top--10 padding-bottom--10 border-radius--50 oncross--rose">
                                                        <div>
                                                            <img width="20" height="16" src="/uploads/twitter-mEfEZ3ei6X.svg" alt="Myapps - Sign in via Facebook">
                                                        </div>
                                                        <div>
                                                            <p class="text-size--14 text-weight--500">Continue with Twitter</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </sign>
       
    <base-footer>
        <div class="view--grid grid-template-columns--80rem justify--center">
            <div class="padding-right--40 padding-bottom--20 padding-left--40">
                <div class="view--grid grid-template-columns--2XY justify--between align--end">

                    <div class="introduction">
                        <div>
                            <ul class="view--grid grid-template-columns--4XY">
                                <li class="margin-right--40">
                                    <a class="text-size--14 text-weight--500" href="/">© Community</a>
                                </li>
                                <li class="margin-right--20">
                                    <a class="text-size--14" href="/terms-of-service">Terms of Service</a>
                                </li>
                                <li class="margin-right--20">
                                    <a class="text-size--14" href="/terms-of-service">Privacy Policy</a>
                                </li>
                                <li>
                                    <a class="text-size--14" href="/terms-of-service">Cookies Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="conclusion">
                        <div>
                            <div class="view--grid grid-template-columns--2XY grid-gap--1rem">
                                <div>
                                    <div class="background--080808 padding-top--12 padding-right--23 padding-bottom--12 padding-left--23 border-radius--50">
                                        <div>
                                            <div class="view--grid grid-template-columns--2XY grid-gap---65rem align--center">
                                                <div>
                                                    <img width="16" height="17" src="/uploads/play-kIU1gME4S0.svg" alt="Apple - Download application from apple store">
                                                </div>
                                                <div>
                                                    <p class="text-size--14 text-weight--500 text-color--FFFFFF">Google Play</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="background--080808 padding-top--12 padding-right--23 padding-bottom--12 padding-left--23 border-radius--50">
                                        <div>
                                            <div class="view--grid grid-template-columns--2XY grid-gap---65rem align--center">
                                                <div>
                                                    <img width="14" height="17" src="/uploads/apple-aqQiRvpXDe.svg" alt="Apple - Download application from apple store">
                                                </div>
                                                <div>
                                                    <p class="text-size--14 text-weight--500 text-color--FFFFFF">Apple Store</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </base-footer>

    <script src="/js/_jquery.js"></script>
    <script src="/js/_rise.js"></script>
    
</body>
</html>