<main class="_myapps margin-bottom--140">
    
    <section class="entrance background--007EE7-03A0F3">
        <div class="view--grid grid-template-columns--80rem justify--center">
            <div class="padding-top--220 padding-right--40 padding-bottom--40 padding-left--40">
                <div class="view--grid grid-template-columns---125FR-1FR-125FR">

                    <div class="introduction">
                        <div>
                            <p class="text-size--36 text-weight--500 text-line-height--145 text-color--FFFFFF">Connect, share and react with people in your life</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
       
    <section class="application margin-top---240">
        <div class="view--grid grid-template-columns--80rem justify--center">
            <div class="padding-right--40 padding-left--40">
                <div class="view--grid grid-template-columns---235FR-25FR-145FR align--end">

                    <div class="introduction">
                        <div>
                            <div>
                                <p class="text-size--20 text-weight--500">Sign in as..</p>
                            </div>
                            <div class="margin-top--25 margin-bottom--40">
                                <div>
                                    <div class="view--grid grid-template-columns--5FR grid-gap--1rem">
                                        <div>
                                            <div class="background--F2F8FE padding-top--25 padding-right--30 padding-bottom--25 padding-left--30 border-radius--10">
                                                <div>
                                                    <div class="view--grid justify--center">
                                                        <div>
                                                            <img width="55" height="55" src="/uploads/plus-1ttL9I3rP2.svg" alt="Webapps - Sign in">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="margin-top--20">
                                                    <p class="text-color--007EE7 text-align--center">Sign in</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div></div>

                    <div class="conclusion">
                        <div>
                            <div>
                                <div class="background--FFFFFF box-shadow--0000000D padding-top--35 padding-right--40 padding-bottom--35 padding-left--40 border-radius--10">
                                    <form name="authorization" action="/api/authorization" method="POST" autocomplete="OFF">
                                        <div>
                                            <p class="text-size--22 text-weight--500">Join the community</p>
                                            <div class="margin-top--10">
                                                <p>More than 2.3 million users in one place</p>
                                            </div>
                                        </div>
                                        <div class="margin-top--25">
                                            <div>
                                                <input class="min-width---100 border--EBEBEB padding-top--10 padding-right--20 padding-bottom--10 padding-left--20 border-radius--50 transition--200ms" type="text" name="name" placeholder="Full name">
                                            </div>
                                        </div>
                                        <div class="margin-top--15">
                                            <div>
                                                <input class="min-width---100 border--EBEBEB padding-top--10 padding-right--20 padding-bottom--10 padding-left--20 border-radius--50 transition--200ms" type="email" name="email_address" placeholder="Email address">
                                            </div>
                                        </div>
                                        <div class="margin-top--15">
                                            <div>
                                                <input class="min-width---100 border--EBEBEB padding-top--10 padding-right--20 padding-bottom--10 padding-left--20 border-radius--50 transition--200ms" type="password" name="password" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="margin-top--15">
                                            <div>
                                                <p class="text-size--12 text-line-height--175">By creating your community account, you agree to our <a class="text-color--007EE7" href="/terms-of-service">Terms of Service</a>, <a class="text-color--007EE7" href="/terms-of-service">Data Policy</a> and <a class="text-color--007EE7" href="/terms-of-service">Cookie Policy</a>. You may receive SMS notifications from us and can time.</p>
                                            </div>
                                        </div>
                                        <div class="margin-top--15">
                                            <div>
                                                <input class="min-width---100 background--007EE7 text-color--FFFFFF text-align--center padding-top--10 padding-right--20 padding-bottom--10 padding-left--20 border-radius--50" type="submit" value="Continue">
                                            </div>
                                        </div>
                                        <div class="margin-top--25">
                                            <div>
                                                <p class="text-size--14 text-align--center">Or sign in with a different platform</p>
                                            </div>
                                        </div>
                                        <div class="margin-top--25">
                                            <div>
                                                <div class="view--grid grid-template-columns--4FR grid-gap--1rem">
                                                    <div>
                                                        <div class="border--EBEBEB view--grid justify--center padding-top--10 padding-bottom--10 border-radius--50">
                                                            <div>
                                                                <img width="16" height="16" src="/uploads/facebook-pwrUivar7z.svg" alt="Myapps - Sign in via Facebook">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="border--EBEBEB view--grid justify--center padding-top--10 padding-bottom--10 border-radius--50">
                                                            <div>
                                                                <img width="16" height="16" src="/uploads/instagram-gFnKvSFh0h.svg" alt="Myapps - Sign in via Instagram">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="border--EBEBEB view--grid justify--center padding-top--10 padding-bottom--10 border-radius--50">
                                                            <div>
                                                                <img width="16" height="16" src="/uploads/google-zhWKn28otz.svg" alt="Myapps - Sign in via Google">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="border--EBEBEB view--grid justify--center padding-top--10 padding-bottom--10 border-radius--50">
                                                            <div>
                                                                <img width="20" height="16" src="/uploads/twitter-mEfEZ3ei6X.svg" alt="Myapps - Sign in via Twitter">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="margin-top--25">
                                <div>
                                    <p class="text-size--14 text-align--center"><a class="text-weight--500 text-color--007EE7" href="/continue-as-guest">Continue</a> as guest and join the platform</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>