<main class="_terms-of-service margin-bottom--120">
      
    <section class="entrance background--007EE7-03A0F3">
        <div class="view--grid grid-template-columns--80rem justify--center">
            <div class="padding-top--220 padding-right--40 padding-bottom--40 padding-left--40">

                <div class="introduction">
                    <div>
                        <p class="text-size--36 text-weight--500 text-line-height--145 text-color--FFFFFF">Terms of service</p>
                        <div class="margin-top--10">
                            <ul class="view--grid grid-template-columns--3XY grid-gap---65rem align--center justify--start">
                                <li>
                                    <a class="text-weight--300 text-color--FFFFFF" href="/">Home</a>
                                </li>
                                <li>
                                    <p class="text-weight--300 text-color--FFFFFF">/</p>
                                </li>
                                <li>
                                    <p class="text-weight--300 text-color--FFFFFF">Terms of service</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="substance margin-top--80">
        <div class="view--grid grid-template-columns--80rem justify--center">
            <div class="padding-right--40 padding-left--40">

                <div class="introduction">
                    <div>
                        <p class="text-line-height--175">MM Services (“MM Service365“) operates mmservice365.co.uk and may operate other websites. It is MM Services 365 policy to respect your privacy regarding any information we may collect while operating our websites.</p>
                        <p class="text-size--20 text-weight--500 margin-top--20">Gathering of Personally-Identifying Information</p>
                        <p class="text-line-height--175 margin-top--10">Certain visitors to MM Services 365 websites choose to interact with MM Service365 in ways that require MM Service365 to gather personally-identifying information. The amount and type of information that MM Service365 gathers depends on the nature of the interaction. For example, we ask visitors who sign up at mmservice365.co.uk to provide a username and email address. Those who engage in transactions with MM Service365 are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, MM Service365 collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with MM Service365. MM Service365 does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>
                        <p class="text-size--20 text-weight--500 margin-top--20">Aggregated Statistics</p>
                        <p class="text-line-height--175 margin-top--10">MM Service365 may collect statistics about the behavior of visitors to its websites. MM Service365 may display this information publicly or provide it to others. However, MM Service365 does not disclose personally-identifying information other than as described below.</p>
                        <p class="text-size--20 text-weight--500 margin-top--20">Protection of Certain Personally-Identifying Information</p>
                        <p class="text-line-height--175 margin-top--10">MM Service365 discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on MM Services 365 behalf or to provide services available at MM Services 365 websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using MM Services 365 websites, you consent to the transfer of such information to them. MM Service365 will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, MM Service365 discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when MM Service365 believes in good faith that disclosure is reasonably necessary to protect the property or rights of MM Service365, third parties or the public at large. If you are a registered user of an MM Service365 website and have supplied your email address, MM Service365 may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with MM Service365 and our products. If you send us a request (for example via email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. MM Service365 takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>